<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="modal-content" style="border-color: blue !important;">

  <div class="modal-header" style="background-color: rgb(4, 159, 217);">

    <h4 class="modal-title pull-left"> {{title}}</h4>

    <div class="container-fluid">
      <div class="navbar-header">
        <div class="test" style="padding: 0px;margin-left: -126px;"> </div>
      </div>
    </div>
  </div>

  <div class="modal-body">
    <div class="container">

      <form #addTicketDataForm="ngForm">
        <p>Create New Ticket</p>
        <hr>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Issue Type<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="ticket.issue_type" name="issue_type" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Priority <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="ticket.priority" name="priority" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Description <span class="text-danger">*</span></label>
            <textarea class="form-control" [(ngModel)]="ticket.description" name="description" required></textarea> <br/>
            <!-- <input type="text" class="form-control" [(ngModel)]="ticket.decription" name="description" required> -->
          </div>
        </div>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <button [disabled]="addTicketDataForm.invalid" class="btn btn-primary btn-lg" (click)="onClickAddTrainingData()">Insert</button>
          </div>
          <div class="btn-group">
              <button class="btn btn-primary btn-lg" (click)="onClickCancel()">Cancel</button>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>