/* You can add global styles to this file, and also import other style files */
.navbar-default .navbar-nav>li>a {
    color: #05bfd7;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: larger;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 970px;
        padding: 0 15px;
    }
}