<!-- <link rel="stylesheet" href="assets/core/css/commonStyles.min.css"> -->


<div>
  <div class="panel-heading chat-top-bar">
    <div>
      <p class="text-center">{{title}}</p>
      <!-- <p class="text-right">
        
      </p> -->
    </div>

    <div>
      <input type="image" src="assets/icons/printer2.png" width="48" height="48" title="Print Chat Conversation"
        (click)="printChatConversation()">&nbsp;
      <input type="image" src="assets/icons/recenthistory1.png" width="48" height="48" title="Print Recent Chat History"
        (click)="printRecentChatHistory()">&nbsp;
      <!-- <input type="image" src="assets/icons/threedots1.png" width="24" height="24" (click)="openModalWithComponent()">&nbsp; -->

      <select [(ngModel)]="selected_language" (change)="onClickSelectedLanguage()" width="48" height="48">
          <option value="english">English</option>
          <option value="hindi">Hindi</option>
        </select>
      <span class="close-btn sprite close">
        <input type="image" src="assets/icons/close2.png" width="48" height="48" title="Close"
          (click)="onCloseChatbot()">
      </span>
    </div>
  </div>

  <div class="modal-body">
    <div class="chatbox">
      <div class="messages">
        <div *ngFor="let chatHistory of chatHistoryArr" [class.right]="chatHistory.machine"
          [class.mybackground]="chatHistory.machine">
          <div [innerHTML]="chatHistory.text" contentEditable=false></div>
          <span *ngIf="chatHistory.machine">
            <input type="image" src="assets/icons/like1.png" alt="Submit" width="24" height="24"
              (click)="onClickLike(chatHistory.itemLogId, true)">
            <input type="image" src="assets/icons/dislike1.png" alt="Submit" width="24" height="24"
              (click)="onClickLike(chatHistory.itemLogId, false)">
            <hr>
          </span>
        </div>
      </div>
    </div>

    <div class="form-inline">
      <input class="form-control span6 search-query" style="width: 597px;" type="text" [(ngModel)]="questionAsked"
        name="questionAsked" placeholder="Type Here..." autocomplete="off" [typeahead]="suggestedItemLogQuestionsArr"
        [typeaheadMinLength]="3" [dropup]="true" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5"
        (keypress)="onClickQuestion($event)">
    </div>
  </div>
</div>